body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #EEF5FF;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    flex-basis: 60vw;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 5% 0 2%;
}

.sidebar {
    border-radius: 25px;
    height: 70vh;
    flex-basis: 22vw;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1.5rem;
    color: white;
}

.step {
    display: flex;
    margin: 1rem 0;
    margin-left: 10%;
    column-gap: 5%;
    font-size: 1.5rem;
}

.step-number {
    height: 40px;
    flex-basis: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#count-1 {
    background-color: #BEE1FF;
    color: black;
}

.step-count {
    margin-bottom: 0.4rem;
    color: #9492FD;
    font-size: 0.8em;
}

.step-detail {
    font-weight: 700;
}

#page-1 {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    height: 90%;
    flex-basis: 45%;
    margin-right: 5%;
}

#page-1-top {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    flex-grow: 1;
}

form {
    flex-basis: 62%;
}

#form-heading h1 {
    color: #052B54;
}

#page-1-requirement {
    color: #C0C1C6;
}

.page-1-form {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}

form div {
    display: flex;
    flex-direction: column;
}

#name,
#email,
#phone {
    color: #162742;
}

.form-error {
    color: red;
}

input {
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    border: 1px solid lightgray;
    border-radius: 15px;
}

#button-div-1 {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
}

#button-div-1 input {
    color: white;
    font-weight: 700;
    border: none;
    background-color: #03295A;
    cursor: pointer;
    border-radius: 10px;
}

/*************** page-2 ****************************/
#page-2 {
    height: 90%;
    flex-basis: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    display: none;
}

#page-2-content {
    flex-grow: 1;
}

#page-2-requirement {
    color: #C0C1C6;
}

.page-2-boxes {
    display: flex;
    column-gap: 10px;
}

.page-2-boxes>div {
    cursor: pointer;
}

#box-1,
#box-2,
#box-3 {
    display: flex;
    flex-direction: column;
    height: 18vh;
    width: 9vw;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 3%;
    padding-top: 4%;
    row-gap: 7vh;
}

#box-1:hover,
#box-2:hover,
#box-3:hover:hover {
    border: 1px solid #847FB9 !important;
}

#page-2-heading h1 {
    color: #052B54;
}

.plan-title {
    font-weight: 700;
    color: #0C2A51;
}

.plan-price {
    color: #C8CACD;
}

#toggle-box {
    height: 30%;
    background-color: #F8F9FE;
    padding: 2% 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    column-gap: 2vw;
}

#toggle-box input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

#toggle-box label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: hsl(237, 63%, 64%);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#toggle-box label::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    border-radius: 70px;
    top: 0px;
    left: 0px;
    transition: 0.5s;

}

#toggle-box input:checked+label:after {
    left: 30px;
}

.yearly,
.monthly {
    opacity: 50%;
}

#button-div-2 {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    margin-top: 22%;
    justify-content: space-between;
}

#button-div-2 input {
    color: white;
    font-weight: 700;
    border: none;
    background-color: #03295A;
    cursor: pointer;
    border-radius: 10px;
}

.go-back-btn {
    padding-top: 3%;
    color: #BDBEC7;
    cursor: pointer;
}

.go-back-btn:hover {
    font-weight: 700;
    color: #03295A;
}

.message {
    color: #0C2A51;
}

/******************page-3****************/
#page-3 {
    height: 90%;
    flex-basis: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    display: none;
}

.page-3-container {
    height: 80%;
}

#page-3-requirement {
    color: #C0C1C6;
}

#page-3-heading h1 {
    color: #052B54;
}

.page-3-boxes {
    display: flex;
    flex-direction: column;
    height: 70vh;
    row-gap: 2vh;
}

#page-3-box1,
#page-3-box2,
#page-3-box3 {
    display: flex;
    align-items: center;
    border: 2px solid #E8E7EB;
    flex-basis: 20%;
    border-radius: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-between;
}

#page-3-box1:hover,
#page-3-box2:hover,
#page-3-box3:hover{
    border: 1px solid #847FB9 !important;
} 

.add-on-details {
    display: flex;
    column-gap: 1vw;
}

.service-name {
    color: #152845;
    font-weight: 700;
}

.service-details {
    color: #BDBEC4;
}

.add-on-price {
    color: #837AEA;
}

#button-div-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5.1vh;
}

#button-div-3 input {
    color: white;
    font-weight: 700;
    border: none;
    background-color: #03295A;
    cursor: pointer;
    border-radius: 10px;
}

/*********************page4********************/
#page-4 {
    height: 90%;
    flex-basis: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    display: none;
}

.page-4-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

#page-4-requirement {
    color: #C0C1C6;
}

#page-4-heading h1 {
    color: #052B54;
}

.add-on-details {
    cursor: pointer;
}

#summary {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-around;
    background-color: #e1ebff;
}


#subscription-added {
    display: flex;
    justify-content: space-between;
}

#subscription-display {
    display: flex;
    flex-direction: column;
}

#subscription-type,#subscription-price {
    color: #052B54;
    font-weight: 600;

}

#add-ons {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.add-on-container {
    display: flex;
    justify-content: space-between;
}

.add-on-type {
    color: #ADADB7;
}

.add-on-price {
    color: #244369;
}

#total-price {
    flex-basis: 20%;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: space-between;
}

#total-price-text {
    color: #ADADB7;
}

#total-cost {
    color: #473DCD;
    font-weight: bold;
    font-size: 1.2rem;
}

#button-div-4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5.1vh;
}

#button-div-4 input {
    color: white;
    font-weight: 700;
    border: none;
    background-color: #483EFF;
    cursor: pointer;
    border-radius: 0px;
    width: 40%;
}

/***************************page-5************************/
#page-5 {
    height: 90%;
    flex-basis: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#thank-you {
    font-size: 2rem;
    color: #002B60;
}

#confirmation-message {
    text-align: center;
    color: #A8A7AE;
    line-height: 2rem;
}

/****************media-query***********************/
@media (max-width:480px) {
    body {
        flex-basis: 100vw;
        align-items: flex-start;
    }

    .sidebar {
        width: 100vw;
        flex-direction: row;
        flex-basis: 100%;
        position: absolute;
        height: 30vh;
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        top: 0;
        left: 0;
        z-index: -20;
        padding-left: 3%;
        padding-right: 3%;
    }

    .container {
        height: auto;
        flex-basis: 90%;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
    }

    #step-details {
        display: none;
    }

    .step-number {
        width: 40px;
    }

    #page-1 {
        height: 70vh;
        justify-content: space-between;
        flex-basis: 100%;
        z-index: 20;
        background-color: #fff;
        padding-left: 0.8rem;
        padding-right: 1.7rem;
        border-radius: 10px;
        margin-top: 100px;
    }

    #page-1-top {
        height: 42vh;
    }

    .page-1-form {
        gap: 3vh;
    }

    #button-div-1 {
        background-color: #ffffff;
        margin-left: -3rem;
        padding-left: 0;
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 4rem;
        width: 100%;
        margin-top: 34.7vh;
        justify-content: space-between;
        background-color: #fff;
        flex-shrink: 0;
    }

    #page-2 {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 100%;
        z-index: 20;
        background-color: #fff;
        padding-left: 0.8rem;
        padding-right: 1.7rem;
        border-radius: 10px;
        margin-top: 100px;
        display: none;
    }

    #page-2-content {
        display: flex;
        flex-direction: column;
        height: 42vh;
        flex-grow: 1;
        gap: 4vh;
    }

    .page-2-boxes {
        flex-direction: column;
        gap: 1.3vh;
    }

    #box-1,
    #box-2,
    #box-3 {
        flex-direction: row;
        height: 8vh;
        width: 97%;
        border-radius: 10px;
        padding-left: 3%;
        padding-top: 4%;
        gap: 2vh;
    }

    #toggle-box {
        height: 20%;
    }

    #toggle-box label {
        width: 40px;
        height: 15px;
    }

    #toggle-box label::after {
        width: 15px;
        height: 15px;
    }

    #button-div-2 {
        margin-left: -3rem;
        padding-left: 0;
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 4rem;
        display: flex;
        width: 100%;
        margin-top: 32.7vh;
        background-color: #fff;
    }

    .go-back-btn {
        padding-top: 4.5%;
    }

    #page-3 {
        height: 70vh;
        justify-content: space-between;
        flex-basis: 90%;
        z-index: 20;
        background-color: #fff;
        padding-right: 1.7rem;
        border-radius: 10px;
        margin-top: 100px;
        padding-left: 1.2rem;
        display: none;
    }

    .page-3-container {
        height: 42vh;
        flex-shrink: 0;
    }

    .page-3-boxes {
        height: 100%;
        gap: 2vh;
        margin-bottom: 20%;
    }

    #page-3-box1,
    #page-3-box2,
    #page-3-box3 {
        height: 10%;
        flex-basis: 30%;
        border-radius: 10px;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        justify-content: space-between;
    }

    #button-div-3 {
        background-color: #ffffff;
        margin-left: -3rem;
        padding-left: 0;
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 4rem;
        width: 100%;
        margin-top: 32.7vh;
        flex-grow: 1;
    }

    #page-4 {
        height: 60vh;
        justify-content: space-between;
        flex-basis: 100%;
        z-index: 20;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 10px;
        margin-top: 100px;
        display: none;
    }

    .page-4-container {
        height: 42vh;
        flex-grow: 1;
        gap: 6vh;
    }

    #summary {
        gap: 6vh;
        padding: 2vh 2vw 2vh 2vw;
    }

    #button-div-4 {
        background-color: #ffffff;
        margin-left: -3.4rem;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        width: 100%;
        margin-top: 29.8vh;
        justify-content: space-between;
        flex-shrink: 0;
    }

    #page-5 {
        height: 45.59vh;
        justify-content: flex-start;
        padding: 4rem 3.2rem;
        flex-basis: 100%;
        z-index: 20;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 100px;
        display: none;
    }
}